<%- include('partials/head') %>

<%- include('header') %>

<h1>Hello , Bienvenue sur le site des petites annonces immobilières,
    pour accéder aux annonces  <a href="/annonces">cliquer ici</a>
</h1>
( ou dans le header : " Les annonces disponibles")
